<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.usermanage.dao.MenuDao">

	<sql id="MenuWhere">
		<if test="menuId != null">
            AND a.menu_id=#{menuId}
		</if>
		<if test="menuCode != null">
            AND a.menu_code=#{menuCode}
		</if>
		<if test="menuName != null">
            AND a.menu_name=#{menuName}
		</if>
		<if test="menuFuncEntry != null">
            AND a.menu_func_entry=#{menuFuncEntry}
		</if>
		<if test="menuOrder != null">
            AND a.menu_order=#{menuOrder}
		</if>
		<if test="menuSpell != null">
            AND a.menu_spell=#{menuSpell}
		</if>
		<if test="menuSpellJane != null">
            AND a.menu_spell_jane=#{menuSpellJane}
		</if>
		<if test="superMenuCode != null">
            AND a.super_menu_code=#{superMenuCode}
		</if>
		<if test="menuFullCode != null">
            AND a.menu_full_code=#{menuFullCode}
		</if>
		<if test="menuFullName != null">
            AND a.menu_full_name=#{menuFullName}
		</if>
		<if test="menuLevel != null">
            AND a.menu_level=#{menuLevel}
		</if>
		<if test="isleaf != null">
            AND a.isleaf=#{isleaf}
		</if>
		<if test="menuType != null">
            AND a.menu_type=#{menuType}
		</if>
		<if test="itemStatus != null">
            AND a.item_status=#{itemStatus}
		</if>
	</sql>
	
	<sql id="MenuModifyWhere">
		<if test="where.menuId != null">
			menu_id=#{where.menuId}
		</if>
		<if test="where.menuCode != null">
			menu_code=#{where.menuCode}
		</if>
		<if test="where.menuName != null">
			menu_name=#{where.menuName}
		</if>
		<if test="where.menuFuncEntry != null">
			menu_func_entry=#{where.menuFuncEntry}
		</if>
		<if test="where.menuOrder != null">
			menu_order=#{where.menuOrder}
		</if>
		<if test="where.menuSpell != null">
			menu_spell=#{where.menuSpell}
		</if>
		<if test="where.menuSpellJane != null">
			menu_spell_jane=#{where.menuSpellJane}
		</if>
		<if test="where.superMenuCode != null">
			super_menu_code=#{where.superMenuCode}
		</if>
		<if test="where.menuFullCode != null">
			menu_full_code=#{where.menuFullCode}
		</if>
		<if test="where.menuFullName != null">
			menu_full_name=#{where.menuFullName}
		</if>
		<if test="where.menuLevel != null">
			menu_level=#{where.menuLevel}
		</if>
		<if test="where.isleaf != null">
			isleaf=#{where.isleaf}
		</if>
		<if test="where.menuType != null">
			menu_type=#{where.menuType}
		</if>
		<if test="where.itemStatus != null">
			item_status=#{where.itemStatus}
		</if>
	</sql>
	
	<insert id="insertMenu" parameterType="Menu">
		INSERT INTO t_menu (
        <trim prefix="" suffixOverrides=",">
			<if test="menuId != null">
				,menu_id
			</if>
			<if test="menuCode != null">
				,menu_code
			</if>
			<if test="menuName != null">
				,menu_name
			</if>
			<if test="menuFuncEntry != null">
				,menu_func_entry
			</if>
			<if test="menuOrder != null">
				,menu_order
			</if>
			<if test="menuSpell != null">
				,menu_spell
			</if>
			<if test="menuSpellJane != null">
				,menu_spell_jane
			</if>
			<if test="superMenuCode != null">
				,super_menu_code
			</if>
			<if test="menuFullCode != null">
				,menu_full_code
			</if>
			<if test="menuFullName != null">
				,menu_full_name
			</if>
			<if test="menuLevel != null">
				,menu_level
			</if>
			<if test="isleaf != null">
				,isleaf
			</if>
			<if test="menuType != null">
				,menu_type
			</if>
			<if test="itemStatus != null">
				,item_status
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="menuId != null">
				,#{menuId}
			</if>
	       	<if test="menuCode != null">
				,#{menuCode}
			</if>
	       	<if test="menuName != null">
				,#{menuName}
			</if>
	       	<if test="menuFuncEntry != null">
				,#{menuFuncEntry}
			</if>
	       	<if test="menuOrder != null">
				,#{menuOrder}
			</if>
	       	<if test="menuSpell != null">
				,#{menuSpell}
			</if>
	       	<if test="menuSpellJane != null">
				,#{menuSpellJane}
			</if>
	       	<if test="superMenuCode != null">
				,#{superMenuCode}
			</if>
	       	<if test="menuFullCode != null">
				,#{menuFullCode}
			</if>
	       	<if test="menuFullName != null">
				,#{menuFullName}
			</if>
	       	<if test="menuLevel != null">
				,#{menuLevel}
			</if>
	       	<if test="isleaf != null">
				,#{isleaf}
			</if>
	       	<if test="menuType != null">
				,#{menuType}
			</if>
	       	<if test="itemStatus != null">
				,#{itemStatus}
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteMenu" parameterType="Menu">
        DELETE FROM t_menu
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="MenuModifyWhere" />
        </trim>
    </delete>

    <update id="updateMenu" parameterType="Menu">
		UPDATE t_menu
        <trim prefix="SET" suffixOverrides=",">
			<if test="menuId != null">
				,menu_id=#{menuId}
			</if>
			<if test="menuCode != null">
				,menu_code=#{menuCode}
			</if>
			<if test="menuName != null">
				,menu_name=#{menuName}
			</if>
			<if test="menuFuncEntry != null">
				,menu_func_entry=#{menuFuncEntry}
			</if>
			<if test="menuOrder != null">
				,menu_order=#{menuOrder}
			</if>
			<if test="menuSpell != null">
				,menu_spell=#{menuSpell}
			</if>
			<if test="menuSpellJane != null">
				,menu_spell_jane=#{menuSpellJane}
			</if>
			<if test="superMenuCode != null">
				,super_menu_code=#{superMenuCode}
			</if>
			<if test="menuFullCode != null">
				,menu_full_code=#{menuFullCode}
			</if>
			<if test="menuFullName != null">
				,menu_full_name=#{menuFullName}
			</if>
			<if test="menuLevel != null">
				,menu_level=#{menuLevel}
			</if>
			<if test="isleaf != null">
				,isleaf=#{isleaf}
			</if>
			<if test="menuType != null">
				,menu_type=#{menuType}
			</if>
			<if test="itemStatus != null">
				,item_status=#{itemStatus}
			</if>
		</trim>
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
			<include refid="MenuModifyWhere" />
		</trim>
	</update>

    <!-- 菜单 (单条查询) -->
    <resultMap id="MenuResult" type="Menu">
		<result column="menu_id" property="menuId"/>
		<result column="menu_code" property="menuCode"/>
		<result column="menu_name" property="menuName"/>
		<result column="menu_func_entry" property="menuFuncEntry"/>
		<result column="menu_order" property="menuOrder"/>
		<result column="menu_spell" property="menuSpell"/>
		<result column="menu_spell_jane" property="menuSpellJane"/>
		<result column="super_menu_code" property="superMenuCode"/>
		<result column="menu_full_code" property="menuFullCode"/>
		<result column="menu_full_name" property="menuFullName"/>
		<result column="menu_level" property="menuLevel"/>
		<result column="isleaf" property="isleaf"/>
		<result column="menu_type" property="menuType"/>
		<result column="item_status" property="itemStatus"/>
    </resultMap>
    <select id="getMenu" resultMap="MenuResult" parameterType="Menu" >
        SELECT
			a.menu_id,
			a.menu_code,
			a.menu_name,
			a.menu_func_entry,
			a.menu_order,
			a.menu_spell,
			a.menu_spell_jane,
			a.super_menu_code,
			a.menu_full_code,
			a.menu_full_name,
			a.menu_level,
			a.isleaf,
			a.menu_type,
			a.item_status
        FROM t_menu a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="MenuWhere" />
        </trim>
    </select>

    <!-- 菜单 (列表查询) -->
    <resultMap id="MenuListResult" type="menu">
		<result column="menu_id" property="menuId"/>
		<result column="menu_code" property="menuCode"/>
		<result column="menu_name" property="menuName"/>
		<result column="menu_func_entry" property="menuFuncEntry"/>
		<result column="menu_order" property="menuOrder"/>
		<result column="menu_spell" property="menuSpell"/>
		<result column="menu_spell_jane" property="menuSpellJane"/>
		<result column="super_menu_code" property="superMenuCode"/>
		<result column="menu_full_code" property="menuFullCode"/>
		<result column="menu_full_name" property="menuFullName"/>
		<result column="menu_level" property="menuLevel"/>
		<result column="isleaf" property="isleaf"/>
		<result column="menu_type" property="menuType"/>
		<result column="item_status" property="itemStatus"/>
    </resultMap>
	<select id="getMenuList" resultMap="MenuListResult" parameterType="Menu" >
        SELECT
			a.menu_id,
			a.menu_code,
			a.menu_name,
			a.menu_func_entry,
			a.menu_order,
			a.menu_spell,
			a.menu_spell_jane,
			a.super_menu_code,
			a.menu_full_code,
			a.menu_full_name,
			a.menu_level,
			a.isleaf,
			a.menu_type,
			a.item_status
		FROM t_menu a
		WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="MenuWhere" />
        </trim>
	</select>

    <!-- 菜单 (分页查询) -->
    <resultMap id="MenuListPageResult" type="java.util.HashMap">
		<result column="menu_id" property="menuId"/>
		<result column="menu_code" property="menuCode"/>
		<result column="menu_name" property="menuName"/>
		<result column="menu_func_entry" property="menuFuncEntry"/>
		<result column="menu_order" property="menuOrder"/>
		<result column="menu_spell" property="menuSpell"/>
		<result column="menu_spell_jane" property="menuSpellJane"/>
		<result column="super_menu_code" property="superMenuCode"/>
		<result column="menu_full_code" property="menuFullCode"/>
		<result column="menu_full_name" property="menuFullName"/>
		<result column="menu_level" property="menuLevel"/>
		<result column="isleaf" property="isleaf"/>
		<result column="menu_type" property="menuType"/>
		<result column="item_status" property="itemStatus"/>
    </resultMap>
    <select id="getMenuListPage" resultMap="MenuListPageResult" parameterType="map" >
        SELECT
			a.menu_id,
			a.menu_code,
			a.menu_name,
			a.menu_func_entry,
			a.menu_order,
			a.menu_spell,
			a.menu_spell_jane,
			a.super_menu_code,
			a.menu_full_code,
			a.menu_full_name,
			a.menu_level,
			a.isleaf,
			a.menu_type,
			a.item_status
        FROM t_menu a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="MenuWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
        LIMIT #{beginRow},#{pageSize}
    </select>
    <select id="getMenuListPageCount" resultType="int" parameterType="map" >
        SELECT count(1)
        FROM t_menu a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="MenuWhere" />
        </trim>
    </select>

</mapper>