<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.usermanage.dao.RoleFuncDao">

	<sql id="RoleFuncWhere">
		<if test="roleFuncId != null">
            AND a.role_func_id=#{roleFuncId}
		</if>
		<if test="roleId != null">
            AND a.role_id=#{roleId}
		</if>
		<if test="funcCode != null">
            AND a.func_code=#{funcCode}
		</if>
		<if test="funcParam != null">
            AND a.func_param=#{funcParam}
		</if>
	</sql>
	
	<sql id="RoleFuncModifyWhere">
		<if test="where.roleFuncId != null">
			role_func_id=#{where.roleFuncId}
		</if>
		<if test="where.roleId != null">
			role_id=#{where.roleId}
		</if>
		<if test="where.funcCode != null">
			func_code=#{where.funcCode}
		</if>
		<if test="where.funcParam != null">
			func_param=#{where.funcParam}
		</if>
	</sql>
	
	<insert id="insertRoleFunc" parameterType="RoleFunc">
		INSERT INTO t_role_func (
        <trim prefix="" suffixOverrides=",">
			<if test="roleFuncId != null">
				,role_func_id
			</if>
			<if test="roleId != null">
				,role_id
			</if>
			<if test="funcCode != null">
				,func_code
			</if>
			<if test="funcParam != null">
				,func_param
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="roleFuncId != null">
				,#{roleFuncId}
			</if>
	       	<if test="roleId != null">
				,#{roleId}
			</if>
	       	<if test="funcCode != null">
				,#{funcCode}
			</if>
	       	<if test="funcParam != null">
				,#{funcParam}
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteRoleFunc" parameterType="RoleFunc">
        DELETE FROM t_role_func
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="RoleFuncModifyWhere" />
        </trim>
    </delete>

    <update id="updateRoleFunc" parameterType="RoleFunc">
		UPDATE t_role_func
        <trim prefix="SET" suffixOverrides=",">
			<if test="roleFuncId != null">
				,role_func_id=#{roleFuncId}
			</if>
			<if test="roleId != null">
				,role_id=#{roleId}
			</if>
			<if test="funcCode != null">
				,func_code=#{funcCode}
			</if>
			<if test="funcParam != null">
				,func_param=#{funcParam}
			</if>
		</trim>
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
			<include refid="RoleFuncModifyWhere" />
		</trim>
	</update>

    <!-- 角色功能 (单条查询) -->
    <resultMap id="RoleFuncResult" type="RoleFunc">
		<result column="role_func_id" property="roleFuncId"/>
		<result column="role_id" property="roleId"/>
		<result column="func_code" property="funcCode"/>
		<result column="func_param" property="funcParam"/>
    </resultMap>
    <select id="getRoleFunc" resultMap="RoleFuncResult" parameterType="RoleFunc" >
        SELECT
			a.role_func_id,
			a.role_id,
			a.func_code,
			a.func_param
        FROM t_role_func a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="RoleFuncWhere" />
        </trim>
    </select>

    <!-- 角色功能 (列表查询) -->
    <resultMap id="RoleFuncListResult" type="roleFunc">
		<result column="role_func_id" property="roleFuncId"/>
		<result column="role_id" property="roleId"/>
		<result column="func_code" property="funcCode"/>
		<result column="func_param" property="funcParam"/>
    </resultMap>
	<select id="getRoleFuncList" resultMap="RoleFuncListResult" parameterType="RoleFunc" >
        SELECT
			a.role_func_id,
			a.role_id,
			a.func_code,
			a.func_param
		FROM t_role_func a
		WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="RoleFuncWhere" />
        </trim>
	</select>

    <!-- 角色功能 (分页查询) -->
    <resultMap id="RoleFuncListPageResult" type="java.util.HashMap">
		<result column="role_func_id" property="roleFuncId"/>
		<result column="role_id" property="roleId"/>
		<result column="func_code" property="funcCode"/>
		<result column="func_param" property="funcParam"/>
    </resultMap>
    <select id="getRoleFuncListPage" resultMap="RoleFuncListPageResult" parameterType="map" >
        SELECT
			a.role_func_id,
			a.role_id,
			a.func_code,
			a.func_param
        FROM t_role_func a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="RoleFuncWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
        LIMIT #{beginRow},#{pageSize}
    </select>
    <select id="getRoleFuncListPageCount" resultType="int" parameterType="map" >
        SELECT count(1)
        FROM t_role_func a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="RoleFuncWhere" />
        </trim>
    </select>

</mapper>