<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysnow.usermanage.dao.UserRoleDao">

	<sql id="UserRoleWhere">
		<if test="userRoleId != null">
            AND a.user_role_id=#{userRoleId}
		</if>
		<if test="userId != null">
            AND a.user_id=#{userId}
		</if>
		<if test="roleId != null">
            AND a.role_id=#{roleId}
		</if>
	</sql>
	
	<sql id="UserRoleModifyWhere">
		<if test="where.userRoleId != null">
			user_role_id=#{where.userRoleId}
		</if>
		<if test="where.userId != null">
			user_id=#{where.userId}
		</if>
		<if test="where.roleId != null">
			role_id=#{where.roleId}
		</if>
	</sql>
	
	<insert id="insertUserRole" parameterType="UserRole">
		INSERT INTO t_user_role (
        <trim prefix="" suffixOverrides=",">
			<if test="userRoleId != null">
				,user_role_id
			</if>
			<if test="userId != null">
				,user_id
			</if>
			<if test="roleId != null">
				,role_id
			</if>
		</trim>
		) VALUES (
        <trim prefix="" suffixOverrides=",">
	       	<if test="userRoleId != null">
				,#{userRoleId}
			</if>
	       	<if test="userId != null">
				,#{userId}
			</if>
	       	<if test="roleId != null">
				,#{roleId}
			</if>
		</trim>
		)
	</insert>

    <delete id="deleteUserRole" parameterType="UserRole">
        DELETE FROM t_user_role
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="UserRoleModifyWhere" />
        </trim>
    </delete>

    <update id="updateUserRole" parameterType="UserRole">
		UPDATE t_user_role
        <trim prefix="SET" suffixOverrides=",">
			<if test="userRoleId != null">
				,user_role_id=#{userRoleId}
			</if>
			<if test="userId != null">
				,user_id=#{userId}
			</if>
			<if test="roleId != null">
				,role_id=#{roleId}
			</if>
		</trim>
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
			<include refid="UserRoleModifyWhere" />
		</trim>
	</update>

    <!-- 用户角色 (单条查询) -->
    <resultMap id="UserRoleResult" type="UserRole">
		<result column="user_role_id" property="userRoleId"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
    </resultMap>
    <select id="getUserRole" resultMap="UserRoleResult" parameterType="UserRole" >
        SELECT
			a.user_role_id,
			a.user_id,
			a.role_id
        FROM t_user_role a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="UserRoleWhere" />
        </trim>
    </select>

    <!-- 用户角色 (列表查询) -->
    <resultMap id="UserRoleListResult" type="userRole">
		<result column="user_role_id" property="userRoleId"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
    </resultMap>
	<select id="getUserRoleList" resultMap="UserRoleListResult" parameterType="UserRole" >
        SELECT
			a.user_role_id,
			a.user_id,
			a.role_id
		FROM t_user_role a
		WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="UserRoleWhere" />
        </trim>
	</select>

    <!-- 用户角色 (分页查询) -->
    <resultMap id="UserRoleListPageResult" type="java.util.HashMap">
		<result column="user_role_id" property="userRoleId"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
    </resultMap>
    <select id="getUserRoleListPage" resultMap="UserRoleListPageResult" parameterType="map" >
        SELECT
			a.user_role_id,
			a.user_id,
			a.role_id
        FROM t_user_role a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="UserRoleWhere" />
        </trim>
        <if test="pageSort != null">
            ORDER BY #{pageSort}
        </if>
        LIMIT #{beginRow},#{pageSize}
    </select>
    <select id="getUserRoleListPageCount" resultType="int" parameterType="map" >
        SELECT count(1)
        FROM t_user_role a
        WHERE 1=1
        <trim prefix="" prefixOverrides="AND">
            <include refid="UserRoleWhere" />
        </trim>
    </select>

</mapper>