<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置全局属性 -->
    <settings>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="true" />

        <!-- 使用列别名替换列名 默认:true -->
        <setting name="useColumnLabel" value="true" />

        <!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- 命名空间 -->
    <typeAliases>
        <!-- 扫描entity包 使用别名 -->
        <package name="com.flysnow.usermanage.model"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
        <!-- 全局参数 -->
        <mapper resource="config/mybatis/usermanage/ConfigMapper.xml"/>
        <!-- 部门 -->
        <mapper resource="config/mybatis/usermanage/DepartmentMapper.xml"/>
        <!-- 字典 -->
        <mapper resource="config/mybatis/usermanage/DictMapper.xml"/>
        <!-- 字典选项 -->
        <mapper resource="config/mybatis/usermanage/DictItemMapper.xml"/>
        <!-- 登录日志 -->
        <mapper resource="config/mybatis/usermanage/LoginLogMapper.xml"/>
        <!-- 菜单 -->
        <mapper resource="config/mybatis/usermanage/MenuMapper.xml"/>
        <!-- 菜单权限 -->
        <mapper resource="config/mybatis/usermanage/MenuPermissionMapper.xml"/>
        <!-- 操作日志 -->
        <mapper resource="config/mybatis/usermanage/OperateLogMapper.xml"/>
        <!-- 角色 -->
        <mapper resource="config/mybatis/usermanage/RoleMapper.xml"/>
        <!-- 角色功能 -->
        <mapper resource="config/mybatis/usermanage/RoleFuncMapper.xml"/>
        <!-- 角色菜单 -->
        <mapper resource="config/mybatis/usermanage/RoleMenuMapper.xml"/>
        <!-- 用户 -->
        <mapper resource="config/mybatis/usermanage/UserMapper.xml"/>
        <!-- 用户登录权限 -->
        <mapper resource="config/mybatis/usermanage/UserPermissionMapper.xml"/>
        <!-- 用户角色 -->
        <mapper resource="config/mybatis/usermanage/UserRoleMapper.xml"/>
    </mappers>

</configuration>